<ion-view view-title="dinnerGenerator">
  <ion-content class="padding">
    <h4>What's in your fridge?</h4>
    <ion-list>
      <ion-checkbox ng-model="filter.pizza">Pizza</ion-checkbox>
      <ion-checkbox ng-model="filter.pasta">Pasta</ion-checkbox>
      <ion-checkbox ng-model="filter.lettuce">Lettuce</ion-checkbox>
    </ion-list>
    <button class="button button-block button-balanced" href="#/tab/chats">
  what's for dinner?
</button>
<button class="button button-block button-energized">
change to master!
</button>
  </ion-content>
</ion-view>
